/* Scss Document */
$raleway: 'Raleway', sans-serif;
$shrikhand: 'Shrikhand', cursive;
$brownColor: #1F1B17;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$lightBrown: #6A4D33;
$border: 1px solid #D8D7D7;
$hennessey: url(../images/hennessey1.jpg);
$mustang: url(../images/mustang.jpg);

@charset "utf-8";


:root {
font-size: 16px;
}
*{
	box-sizing: border-box;
	margin:0;
}
body{
	max-width: 1600px;
	max-height: 900px;
	background-image:url(../images/pozadina11.jpg);
	background-position: center;
	background-size: cover;
	background-color:$brownColor;
	font-family: $raleway;
	
}
a{
	text-decoration: none;
}
.container-fluid{
	position:relative;
	background-size: cover;
}
.container{
	border-radius: 4px;
	background-color: rgba(252,248,237,0.8);
	box-shadow: $shadow;
}
.meni{
	font-family: $shrikhand;
	font-size: 100%;
	text-transform: uppercase;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}
.meni-bar {
	list-style-type:none;
	padding:0;
	display: flex;
	width:100%;
	height:2.5rem;
	align-items: center;
	background-color:  rgba(31,27,23,0.7);
	border-radius: 4px;
	margin-bottom: 1.25rem;
	align-content: stretch;
	

    li{
	  flex-grow: 1;
	  flex-shrink: 1;
	  flex-basis: 0;
	
	
}
    li a{
	  color:white;
	  text-decoration: none;
	  transition:1s;
	  display: block;
	  padding:0.5rem 0;
	
}
    li a:hover:not(.aktivan){
	  color:rgba(240,218,205,1.00);
	  background-color:rgba(31,27,23,0.9);
}
}
.aktivan{
	color:rgba(240,218,205,1.00);
	background-color:rgba(31,27,23,0.7);
}
.fordlogo{
	align-self: center;
}

.header{
	max-width:100%;
	height:600px;
	background-color:$brownColor;
	background-image: $hennessey;
	box-shadow: $shadow;
	background-position:center bottom;
	background-size: cover;
	border-radius:10px;
	/*position:relative;*/
	animation: animacija 20s linear infinite 6s;
}
@keyframes animacija {
	 0% {
    background-image: $hennessey;
  }
  13% {
    background-image: $mustang;
  }
  24% {
   background-image: $mustang;
	}
  37% {
    background-image: $mustang;
  }
  48% {
    background-image: $mustang;
  }
	 
  61% {
    background-image: $hennessey;
  }
  72% {
    background-image: $hennessey;
  }
  85% {
    background-image: $hennessey;
  }
  100% {
    background-image: $hennessey;
  }
	  }

.logo{
	padding:0;
	margin:10px 10px 10px 0;
	display: flex;
	flex-direction: row;
	width:100%;
	height:7.5rem;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 10px;
}
.logo-empty{
	padding:20px;
	border-top: $border;
}

.empty{
	padding:1.25rem;
	
}
h1{color:white;
}
input[type="text"]{
	width: 130px;
	box-sizing: border-box;
	padding: 6px 20px 6px 43px;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
	background-image: url(../images/search-icon2.png);
	background-repeat: no-repeat;
	background-position: 8px 2px;
	box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2);
	transition: width 0.4s ease-in-out;

    &:focus{
	  width:700px;
	  outline-color: $brownColor;
}
}
em{
	color:#E0C2A8;
	transition: font-size 0.4s;

}
.omot {
	img{
	  width:100%;
	  height:300px;
	  object-fit: cover;
	  opacity:0.8;
	  transition: opacity 0.4s;

    &:hover{
	  opacity:1;
		}
}
}
.capt{
	background-color:$brownColor;
	width:100%;
	height:280px;
	padding:20px;
	color:white;
}
.blogovi{
	font-variant: small-caps;
	font-size: 2rem;
	text-align: center;
}
.grid{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns:1fr 1fr 1fr;
	grid-template-columns:repeat(3,auto);
}

.divider{ 
	padding: 0 40px 40px 40px;
	
	&:not(:last-child){
	border-right: $border;
	}
}

.subgrid{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:auto;
	justify-content: center;
	}
.lorem{
	font-size:1.063rem;
	font-weight:bolder;
	font-variant: small-caps;
	color:#41322A;
}
.naslov{
font-family: $shrikhand;
/*font-family: 'Raleway', sans-serif;*/
/*font-weight: bold;*/
font-size: 1.563rem;
color:$lightBrown;
	
}
.item1{
	order:1;
}
.item2{
	order:2;
}
.item3{
	order:3;
}
.item4{
	order:4;
}
.item5{
	order:5;
}
.item6{
	order:6;
}
.item7{
	order:7;
}

.item5{
	margin:0 auto;
	padding: 5px 0;
	font-family: $shrikhand;
	font-size: 14px;
	color: $lightBrown;
	

}
.item6{
	@extend .item5;
}
a:hover{
	text-decoration: none;
	font-size: 1rem;
}
.slika{
	width:43%;
	box-shadow: $shadow;
	height:8.438rem;
	object-fit: cover;
	margin:8px;
}
.vest{
	display:inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	margin:0;
	width:auto;
	padding:10px;
	flex-wrap: wrap;

    &:not(:last-child){
	  border-bottom:2px dotted #D8D7D7;
	}
}
.datum{
	padding-right:15px;
	order:-4;
	font-size:1.25rem;
	color:rgba(170,77,114,1.00);
	font-family: $shrikhand;
	
}
.datum-broj{
	padding:0;
	font-size:2.5rem;
	color:rgba(170,77,114,1.00);
	font-family: $shrikhand;
	order:-5;
}

.slicica{
	padding-right:15px;
	object-fit: cover;
	order:-3;
	padding:10px 0;
	
	img{
	  width:85px;
	  height: 100px;
    }
}
.podlorem{
	
	padding: 20px;
	order:-2;
	font-size:1rem;
	font-variant: small-caps;
	font-weight: bolder;
}
.tekst-vest{
	order:-1;
}
.em2{
	font-weight: bolder;
	color:#3C2C1D;
	display:inline-block;
}
.footer{
	border-radius: 4px; 
	position: relative;
	color:white;
	display: block;
	height:60px;
	padding:8px;
	font-size: 0.625rem;
}
@media (max-width: 1199px){
	.divider:not(:last-child){
		border:none;}
	.header{
		height: 400px;
	}
	.slika{
		width: 45%;
		height:300px;
	
	}
	
		.grid{
			-ms-grid-columns:auto;
			grid-template-columns:auto;
		
	}
	.meni-bar{
		display:block;
		height:auto;
		
	}
	.meni-bar li a{
		display: block;
		padding: 0.8rem 1rem;
	}
	input[type="text"]:focus{
		width:400px;
	}

.fordlogo{
		width:170px;
		height: auto;
	}}
@media (max-width: 767px){
	.divider:not(:last-child){
		border:none;}
	.slika{
		width: 100%;
		height:200px;
	
	}
	.header{
		height: 300px;
	}
	.item3{
	order:3;
}
.item4{
	order:5;
}
.item5{
	order:4;
}
.item6{
	order:6;
}
	input[type="text"]:focus{
		width:180px;
	}
	.fordlogo{
		width:150px;
		height: auto;
	}
}

